{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "arrow-spacing": "warn",
        "dot-location": ["warn", "property"],
        "dot-notation": "warn",
        "eqeqeq": ["warn", "always", { "null": "ignore" }],
        "comma-dangle": "off",
        "no-delete-var": "error",
        "@typescript-eslint/no-unused-vars": "off",
        "babel/new-cap": "warn",
        "camelcase": ["warn", { "allow": ["__bettermixer_poly"] }],
        "babel/camelcase": "off",
        "babel/no-invalid-this": "warn",
        "babel/quotes": "off",
        "babel/semi": ["error", "always"],
        "babel/no-unused-expressions": ["warn", { "allowShortCircuit": true, "allowTernary": true, "allowTaggedTemplates": true }],
        "babel/valid-typeof": "error",
        "object-curly-newline": ["warn", { "multiline": true, "consistent": true }],
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "no-var": "error",
        "prefer-const": "warn",
        "rest-spread-spacing": ["error", "never"],
        "no-param-reassign": ["error", { "props": false }],
        "yoda": ["warn", "never"],
        "space-before-blocks": ["warn", "always"],
        "keyword-spacing": "warn",
        "space-unary-ops": ["warn", { "words": true }],
        "no-void": "error",
        "prefer-arrow/prefer-arrow-functions": "warn",
        "space-infix-ops": "warn",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "no-empty": "off",
        "@typescript-eslint/no-empty-function": "off",
        "no-fallthrough": "warn",
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "no-dupe-class-members": "off",
        "no-constant-condition": "off",
        "no-redeclare": "off"
    },
    "env": {
        "webextensions": true,
        "browser": true,
        "es2020": true
    },
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "parser": "babel-eslint"
    },
    "plugins": [
        "babel",
        "prefer-arrow"
    ],
    "globals": {
        "BetterMixer": "writable",
        "React": "readonly",
        "ReactDOM": "readonly",
        "mds": "readonly",
        "__bettermixer_poly": "readonly",
        "__COMPILER_INLINE": "readonly"
    }
}
